flavor              = "m3.tiny"
image_name          = "gen3dev"
source_image_name   = "Featured-Ubuntu20"
ssh_username        = "ubuntu"
networks            = [""]
security_groups     = [""]
floating_ip         = ""
helm_version        = "v3.17.0"
kubectl_version     = "v1.31.11"
k9s_version         = "0.50.7"